---
layout: layout
---
<style>
    .intro-header .site-heading {
        margin: 50px;
    }
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?(config["cdn-url"]?config["cdn-url"]:"")+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }
    <% } %>

.pr-column {
  float: left;
  padding: 10px;
}

.pr-left {
  width: 25%;
}

.pr-right {
  width: 75%;
  padding-left: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.pr-avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .pr-column {
        width: 100%;
        text-align: center;
        padding-top: 0;
    }
}

/*slider*/
.img-slider {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slider {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row-slider:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column-slider {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

</style>

<!-- Page Header -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading text-center">
                    <h1><%- page.author || config.author %></h1>
                    <span class="subheading">
                        <span class="meta">
                            Author since: <%= page.date.format(config.date_format) %>
                        </span></span>
                </div>
            </div>
        </div>
    </div>
</header>
<% var i = page.index; %>
<!-- Main Content -->
<div class="container">
    <div class="row">
            <div class="pr-column pr-left">
                    <div class="card border-secondary profile-card-5">
                        <div class="card-img-block">
                             <img class="card-img-top" src="<%= site.data.authors.authors[i].image %>" alt="Card image cap">
                        </div>
                        <div class="card-body pt-0">
                            <a href="<%= site.data.authors.authors[i].posts %>" class="btn btn-primary">See All Posts</a>
                        </div>
                    </div>
                    <h2><%- site.data.authors.authors[i].name %></h2>
                    <p class="title"><%- site.data.authors.authors[i].title %></p>
                    <p class="title"><%- site.data.authors.authors[i].subtitle %></p>
                    <p> <%- site.data.authors.authors[i].description %></p>
            </div>
            <div class="pr-column pr-right">
                    <!-- <h2><%- site.data.authors.authors[i].name %></h2>
            <p class="title"><%- site.data.authors.authors[i].title %></p>
            <p class="title"><%- site.data.authors.authors[i].subtitle %></p>
            <p> <%- site.data.authors.authors[i].description %></p> -->
            <!-- <ul class="pager">
                    <li class="previous">
                        <a href="<%- config.root %>tags/#AshwinMulky">See All Posts</a>
                    </li>
            </ul> -->
            <% if(site.data.authors.authors[i].images.length > 0) { %>
            <div style="box-sizing: border-box; margin: 2%; text-align: left;">
                    <h2 style="text-align:center"><code>Photo Gallery</code></h2>
                    <div class="container-slider">
                    <% var index = 1; %>
                    <% var total = site.data.authors.authors[i].images.length %>
                    <% site.data.authors.authors[i].images.forEach(function(image){ %>
                        <div class="mySlides">
                            <div class="numbertext"><%= index %> / <%= total %></div>
                            <img class="mg-slider" src="<%= image.image %>" style="width:100%">
                        </div>
                        <% index++; %>
                    <% }); %>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
    
                    <div class="caption-container">
                        <p id="caption"></p>
                    </div>
    
                    <div class="row row-slider">
                        <% index = 1; %>
                        <% site.data.authors.authors[i].images.forEach(function(image){ %>
                            <div class="column column-slider">
                                <img class="img-slider demo cursor" src="<%= image.image %>" style="width:60px; height: 40px;" onclick="currentSlide(<%= index %>)" alt="<%= image.caption %>">
                            </div>
                            <% index++; %>
                        <% }); %>
                       
                    </div>
                    </div>
                 </div>
                 <% } %>
                 <% if(site.data.authors.authors[i].youtube) { %>
                    <hr /><br />
                    <div style="text-align: center;">
                       <h3><code>Youtube Channel : <%=site.data.authors.authors[i].youtube%></code></h3>
                        <iframe src="https://www.youtube.com/embed/?listType=user_uploads&list=<%=site.data.authors.authors[i].youtube%>" width="280" height="200" style="display: inline-block;"></iframe>
                    </div>
                  <% } %>
                  <% if(site.data.authors.authors[i].links.length > 0) { %>
                    <br /> <hr /><br />
                    <div style="text-align: center;">
                      <% site.data.authors.authors[i].links.forEach(function(link){ %>
                        <a href="<%= link.link %>" class="btn btn-link" role="button"><%= link.caption %></a>
                        <hr />
                      <% }); %>
                    </div>
                  <% } %>
            </div>
            
    </div>
</div>
